<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huso.binicikulubum">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BiniciKulubum">
        <activity
            android:name=".CiftlikEkle"
            android:exported="false" />
        <activity
            android:name=".EgitmenEkle"
            android:exported="false" />
        <activity
            android:name=".EgitmenleriGorRezarvasyonyap"
            android:exported="false" />
        <activity
            android:name=".Rezarvasyonlarim"
            android:exported="false" />
        <activity
            android:name=".RezervasyonVer"
            android:exported="false" />
        <activity
            android:name=".CvOlusturSayfasi"
            android:exported="false" />
        <activity
            android:name=".CvSayfasi"
            android:exported="false" />
        <activity
            android:name=".Anasayfa"
            android:exported="false" />
        <activity
            android:name=".KayitOlSayfasi"
            android:exported="false" />
        <activity
            android:name=".KullaniciGirisSayfasi"
            android:exported="false" />
        <activity
            android:name=".GirisAnismasyonu"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>